extends layouts/main.pug

block content
  main.error-container
    .error-card
      .error-code #{status}
      h1 Ops! Algo deu errado.
      p.error-message #{message}
      
      if stack
        .error-stack-container
          .error-stack-title Stack Trace (Ambiente de Desenvolvimento)
          pre.error-stack-trace #{stack}
      
      a.btn-cta(href="/") Voltar para o Início